alembic
aniso8601
bcrypt
blinker
click
dnspython
email-validator
Faker
Flask
Flask-Bcrypt
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
honcho
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
psycopg2
python-dateutil
python-dotenv
pytz
six
SQLAlchemy
SQLAlchemy-serializer
typing_extensions
Werkzeug
WTForms
zipp
