/* Footer.css */

.footer {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #432818;
    color: white;
    padding: 2rem;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .container_footer{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  @media (min-width: 800px) {
    .container_footer {
      width: 65%;
    }
  }

  .footer.visible {
    opacity: 1;
  }

  .footer-section {
    margin-bottom: 20px;
  }
  
  .social-media-links img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }
  
  .col-md-7 {
    width: 50%;
  }

  .row2_footer {
    text-align: right;
  }